<h1>Registrations for <%= link_to(@piece.title, piece_path(@piece.id)) %></h1>

<% @piece.registrations.each do |r| %>
  <h4><%= r.name %> said: </h4>
  <p><%= r.message %>
    <em><strong>(<%= time_ago_in_words(r.created_at) %> ago)</strong></em>
  </p>
<% end %>
